*{
    margin: 1%;
    padding:1% 1%;
    box-sizing:border-box;
}
img{
    margin:auto;
    max-width:100%;
}
body{
    background-color: black;
    color: white;
    font-family: Verdana, sans-serif;
    font-weight: normal;
    text-align: center;
}
a{
    color:aquamarine;
    font-size: 16px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 42px;
    font-weight: 300;
}
p{
    color:gray;
    font-size: 21px;
}
footer > p{
    text-align: right;
}